#menuHeader a{

	font-size:14;
	text-decoration:none;
	color:rgb(1,143,62);
}

#menuHeader a:hover {
	background-color:rgb(1,143,62);
	color:white;
	
}

#menuHeader  #logout {

	text-decoration:none;
	
}

.dsrTable {
	font-size:12;
	font-family:Helvetica;
	border-collapse:collapse;
	width:100%;
}

 .header {
	background-color: rgb(1,131,56);
	color:white;

}

.subheader {
	background-color: white;
	color:black;

}

.category {
	background-color: rgb(168,215,171);
	color:blue;


}

.dsrTable td,.dsrTable th {
	cellpadding:3px;
	padding:3px;

}

body {
	font-size:13;
	background-color:rgb(230,230,230);
	font-family: Helvetica;

}

.grid {
	background-color:white;
	color:black;

}